---

import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main class='px-24 sm:p-8 max-w-7xl w-full  mx-auto'>
<h1 class=' text-6xl text-teal-900 font-bold mb-5'>Rythm Nation Blog</h1>
<p class='text-zinc-900 text-2xl mb-24 max-sm:mb-14  '>Join the comunity and learn from Music Producers and Enthusiasts</p>
<hr class='w-[90%] border border-teal-900 mb-16 sm:mb-10'>
	</main>
</Layout>
