<header class='px-24 py-12 sm:px-5 sm:py-10 max-w-7xl w-full mx-auto'>
  <a class='flex gap-4 items-center' href='/'>
    <image src='/heart-beat-icon.webp'class='w-12 p-1' />
<p class='uppercase , text-3xl text-zinc-900'>blog</p>
  </a>
</header>

<!-- primeiro o P e depois o A e depois o icon -->
<!-- max-w-7xl w-full mx-auto centralizou o conteúdo, e limitou o tamanho -->