---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '@fontsource/cabin'
import '@fontsource/blaka-hollow';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class=' min-h-screen grid grid-rows-[auto,1fr,auto]'>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>

<!-- // o header e o footer, sempre rodeando o slot. O Boiler plate sempre no index.astro -->
<!-- <body class='px-24 sm:p-8 max-w-7xl mx-auto min-h-screen grid grid-rows-[auto,1fr,auto]'> - é uma maneira boa de divisionar header e footer na compisção, além das alturas // 1. body 2.header e footer components, envolvendo o slot 
------------------
removido para componente especifico, do body px-24 sm:p-8 max-w-7xl mx-auto	
-->